.footer {
  display: flex;
  position: absolute;
  justify-content: center;
  background-color: #F7F7F7;
  height: 55px;
  width: 100%;
  bottom: 0;
  border-top: .1px solid #CBCBCB;
  border-radius: 0 0 50px 50px;

  button {
    border: none;
    background: none;
    color: #3478F6;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
    font-family: "Helvetica Neue", sans-serif;

    &:active {
      transform: scale(98%);
    }
  }
}
