.header {
  display: flex;
  flex-direction: column;
  height: 30px;
  position: relative;

  &_controls {
    display: flex;

    input {
      background-color: #E3E3E8;
      border: none;
      border-radius: 7px;
      height: 35px;
      padding-left: 10px;
      width: 89%;
      margin: 0 auto;
      font-size: 1.1rem;
      -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
      -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 1px 2px;
      transition: .4s ease-out;
      caret-color: #3478F6;
      font-family: "SF Pro Display", sans-serif !important;
    }

    input::placeholder {
      font-size: 16px;
      font-weight: 400;
      font-family: "SF Pro Display", sans-serif !important;
    }

    input:focus {
      outline: none;
    }

    .search_btn {
      position: absolute;
      right: 3.1rem;
      top: 0.5rem;
      background: none;
      border: none;
      fill: gray;
      transition: .3s;
      cursor: pointer;
    }

    .add_btn {
      position: absolute;
      right: 1.3rem;
      top: 0.5rem;
      background: none;
      border: none;
      fill: #3478F6;
      transition: .4s;
      cursor: pointer;

      &:active {
        transform: scale(95%);
      }
    }
  }
}

.search_btn_active {
  position: absolute;
  right: 1.3rem;
  top: 0.5rem;
  background: none;
  border: none;
  fill: black;
  transition: .4s;
  cursor: pointer;
  z-index: 100;
}
